
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}
body {
    font-family: 'Akronim', cursive;
}

header {
    z-index: 1;
}



.bg-img {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0, 0.8)), url('https://i.redd.it/cy6wd0mok2z31.jpg') center repeat;
    filter: blur(8px);
    height: 100vh;
    z-index: -1;
    left: 0;
    right: 0;
    position: fixed;
}

.top {
    width: 100%;
    background-color: #0a0909;
}

.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.top_nav p {
    display: block;
    margin: 0;
}

.nav-item a {
    font-size: 1.4rem;
}

.main_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}


.footer {
    z-index: 1;
    background-color: #0a0909;
}

.contact_us {
    background-color: #141212;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
    border-radius: 5%;
    margin: 1rem 0;
}

.comics_main h1 {
    margin-top: 1rem;
}

.main_card img {
    max-width: 100%;
    max-height: 70%;
}

.card_lists{
    margin: 0 1rem;
}

.card {
    height: 50%;
    border-radius: 5%;
    overflow: hidden;
    margin-right: 2rem;
    margin-top: 1rem;
}
.card img {
    margin-top: 1rem;
    max-height: 70%;
}

.card button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }
}
